body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    background-color: #a6a5ab;
}

.container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    text-align: center;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    background-color: transparent;
    transition: all 0.8s;
}
.header__content {
    max-width: 1800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 250px;
}

.header__logo img {
    width: 100%;
}

.header.scrolled{
    background: linear-gradient(to bottom, #59467d, #a6a5ab);
    transition: all 0.8s;
}
.header.scrolled img{
    width: 150px;
} 
.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__item {
    margin: 0 15px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.button {
    background-color: #8f282c;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 20px;
}

.button:hover {
    background-color: #807f85;
}

.footer {
    background: linear-gradient(to bottom, #a6a5aba8, #59467d);
    color: #ffffff;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}

.footer__content {
    max-width: 1800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__column {
    width: 30%;
}

.footer__title {
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__item {
    margin-bottom: 5px;
}

.footer__link {
    text-decoration: none;
    color: #ffffff;
}

main {
    min-height: 100px;
    margin: 0 auto;
    max-width: 1800px;
    text-align: center;
    background-color: #ebebeb;
}
